#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#myBtn:hover {
    background-color: #555;
}

h3 {
    position: relative;
    padding: 0.6em;
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    border-radius: 7px;
   }
   
   h3:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #ffebbe;
    width: 0;
    height: 0;
   }
   h2 {
    position: relative;
    border-left: 6px solid #ccc;
    padding: 10px;
    color: #000;
    }
    


    .cp_h1title {
        position: relative;
        padding: .3em;
        text-align: center;
        color:#EF6C00;
    }
    .cp_h1title::before,
    .cp_h1title::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 6px;
        box-sizing: border-box;
    }
    .cp_h1title::before {
        top: 0;
        border-top: 2px solid #F57C00;
        border-bottom: 1px solid #F57C00;
    }
    .cp_h1title::after {
        bottom: 0;
        border-top: 1px solid #F57C00;
        border-bottom: 2px solid #F57C00;
    }


    .cp_h1title1 {
        position: relative;
        padding: .3em;
        text-align: center;
    }
    .cp_h1title1:before,.cp_h1title1:after {
        content:'';
        width: 20px;
        height: 30px;
        position: absolute;
        display: inline-block;
    }
    .cp_h1title1:before {
        border-left: solid 2px #283593;
        border-top: solid 2px #283593;
        top:0;
        left: 0;
    }
    .cp_h1title1:after {
        border-right: solid 2px #283593;
        border-bottom: solid 2px #283593;
        bottom:0;
        right: 0;
    }
