{% extends 'blog/base.html' %}
{% block title %} {{ post.title }}:僕のブログ {% endblock %}
{% block content %}
<h1 style="text-align: center;" >{{ post.title }}</h1>
<div style="text-align: center;">
{{ post.formatted_markdown|safe }}
<a href="http://127.0.0.1:8080/catalogue/">購入はこちら</a>
</div>
<hr>
<div style="text-align: center;" style="font-size:0.6em">
{{ post.created_datetime }}
<br>
{{ post.updated_datetime }}
</div>
<hr>
<a href="{% url 'post:index'%}">トップページへ戻る</a>
{% endblock %}
