{% extends 'blog/base.html' %}
{% block title %} 食品ロス解決商品 {% endblock %}

{% block content %}
  <h1 class="cp_h1title1" style="text-align: center;">食材循環活動(仮)</h1>

<!--
  <h3 style="text-align: center;">参考 ; https://blog.codecamp.jp/python-blog-django</h3>
--> 
  <div style="width: 70%;margin: 0px auto;">
    <hr />
    {% for post in posts %}
    <div>
      <h3>{{ post.title }}</h3>
      <div>{{ post.text | truncatechars:100 }}</div>
      <div style="text-align: right;">
        <a href="{% url 'post:post_detail' slug=post.slug %}">記事を読む</a>
      </div>
    </div>
    <hr />
    {% endfor %}
  </div>
{% endblock %}

